<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/resources/css/app.css" rel="stylesheet" />
    <title>
      {{ title || 'Client Flow' }}
    </title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8 col-ms-4 center-container">
          <h1>
            Customer List
          </h1>
        </div>
        <div class="col-lg-4 col-ms-8 text-center">
          <img src="/resources/images/logo.jpg" style="max-height:200px;" />
        </div>
      </div>
      <div>
        <a href="/customers/create" class="btn btn-primary mb-3">Add customer</a>
      </div>

      <!-- Buscador -->
      <form
        method="GET"
        action="?search='search'&sortBy=id&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}"
        class="mb-3"
      >
        <div class="row">
          <div class="col-10">
            <input
              type="text"
              name="search"
              class="form-control"
              placeholder="Search by name, ID or RUC"
              value="{{ search ? search : '' }}"
            />
          </div>
          <div class="col-2">
            <button style="width: 100%; margin-top: 0 !important;" type="submit" class="btn btn-info mt-2">Search</button>
          </div>
        </div>
      </form>

      <!-- Tabla -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <a href="?sortBy=id&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">#</a>
            </th>
            <th>
              <a href="?sortBy=names&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">Names</a>
            </th>
            <th>
              <a href="?sortBy=lastNames&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">Last Names</a>
            </th>
            <th>
              <a href="?sortBy=idRuc&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">ID / RUC</a>
            </th>
            <th>
              <a href="?sortBy=phone&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">Phone</a>
            </th>
            <th>
              <a href="?sortBy=email&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">Email</a>
            </th>
            <th>
              Accions
            </th>
          </tr>
        </thead>
        <tbody>
          @each(customer in customers)
            <!-- Aquí se usa customers -->
            <tr>
              <td>
                {{ customer.id }}
              </td>
              <td>
                {{ customer.names }}
              </td>
              <td>
                {{ customer.lastNames }}
              </td>
              <td>
                {{ customer.idRuc }}
              </td>
              <td>
                {{ customer.phone }}
              </td>
              <td>
                {{ customer.email }}
              </td>
              <td style="width: 30%;">
                <a href="/customers/edit/{{ customer.id }}" class="btn btn-warning btn-sm">Show/Edit Customer</a>
                <a href="/customers/{{ customer.id }}/payments" class="btn btn-info btn-sm">Show Payments</a>
                <a href="/customers/{{ customer.id }}/pay" class="btn btn-primary btn-sm">Add Pay</a>
              </td>
            </tr>
          @endeach
        </tbody>
      </table>

      {{--        <!-- Paginación -->
        @if (customers.meta.lastPage > 1)
        <!-- Verificamos si hay más de una página -->
        <div class="pagination">
          <ul class="pagination">
            <!-- Enlace a la página anterior -->
            <li class="page-item {{ customers.meta.currentPage === 1 ? 'disabled' : '' }}">
              <a
                class="page-link"
                href="?page={{ customers.meta.currentPage - 1 }}&search={{ search }}&sortBy={{ sortBy }}&sortOrder={{ sortOrder }}"
              >Anterior</a>
            </li>
        
            <!-- Páginas de la paginación -->
            @for (let page = 1; page <= customers.meta.lastPage; page++)
              <li class="page-item {{ page === customers.meta.currentPage ? 'active' : '' }}">
                <a
                  class="page-link"
                  href="?page={{ page }}&search={{ search }}&sortBy={{ sortBy }}&sortOrder={{ sortOrder }}"
                >{{ page }}</a>
              </li>
            @endfor
            
            <!-- Enlace a la siguiente página -->
            <li class="page-item {{ customers.meta.currentPage === customers.meta.lastPage ? 'disabled' : '' }}">
              <a
                class="page-link"
                href="?page={{ customers.meta.currentPage + 1 }}&search={{ search }}&sortBy={{ sortBy }}&sortOrder={{ sortOrder }}"
              >Siguiente</a>
            </li>
          </ul>
        </div>
      @endif  --}}

    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js">
      
    </script>
  </body>
</html>
