<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/resources/css/app.css" rel="stylesheet" />
    <title>
      {{ t('titleHead') }}
    </title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8 col-ms-4 center-container">
          <h1>
            {{ t('customers.customerList') }}
          </h1>
        </div>
        <div class="col-lg-4 col-ms-8 text-center">
          <img src="/resources/images/logo.jpg" style="max-height:200px;" />
        </div>
      </div>
      <div>
        <a href="/customers/create" class="btn btn-primary mb-3">{{ t('customers.addCustomer') }}</a>
      </div>

      <!-- Buscador -->
      <form
        method="GET"
        action="?search='search'&sortBy=id&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}"
        class="mb-3"
      >
        <div class="row">
          <div class="col-10">
            <input
              type="text"
              name="search"
              class="form-control"
              placeholder="Search by name, ID or RUC"
              value="{{ search ? search : '' }}"
            />
          </div>
          <div class="col-2">
            <button style="width: 100%; margin-top: 0 !important;" type="submit" class="btn btn-info mt-2">{{ t('search') }}</button>
          </div>
        </div>
      </form>

      <!-- Tabla -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <a href="?sortBy=id&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">#</a>
            </th>
            <th>
              <a href="?sortBy=names&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">{{ t('names') }}</a>
            </th>
            <th>
              <a href="?sortBy=lastNames&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">{{ t('lastNames') }}</a>
            </th>
            <th>
              <a href="?sortBy=idRuc&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">{{ t('idRuc') }}</a>
            </th>
            <th>
              <a href="?sortBy=phone&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">{{ t('phone') }}</a>
            </th>
            <th>
              <a href="?sortBy=email&sortOrder={{ sortOrder === 'asc' ? 'desc' : 'asc' }}">{{ t('email') }}</a>
            </th>
            <th>
              {{ t('actions') }}
            </th>
          </tr>
        </thead>
        <tbody>
          @each(customer in customers)
            <!-- Aquí se usa customers -->
            <tr>
              <td>
                {{ customer.id }}
              </td>
              <td>
                {{ customer.names }}
              </td>
              <td>
                {{ customer.lastNames }}
              </td>
              <td>
                {{ customer.idRuc }}
              </td>
              <td>
                {{ customer.phone }}
              </td>
              <td>
                {{ customer.email }}
              </td>
              <td style="width: 30%;">
                <a href="/customers/edit/{{ customer.id }}" class="btn btn-warning btn-sm">{{ t('customers.showEditCustomer') }}</a>
                <a href="/customers/{{ customer.id }}/payments" class="btn btn-info btn-sm">{{ t('payments.showPayments') }}</a>
                <a href="/customers/{{ customer.id }}/payments/create" class="btn btn-primary btn-sm">{{ t('payments.addPayment') }}</a>
              </td>
            </tr>
          @endeach
        </tbody>
      </table>
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js">
      
    </script>
  </body>
</html>
